main {
  background-image: url("img/img_de_fundo.jpg");
  display: grid;
  grid-template-areas:
    "header"
    "section_somos"
    "section_fazemos"
    "section_adote"
    "section_form"
    "footer";
  font-family: "Comfortaa", sans-serif;
  font-weight: 400;
}

.header {
  grid-area: header;
  background-color: rgb(245, 245, 219, 0.95);
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

header figure img {
  width: 15vw;
  min-width: 150px;
}

header ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
  gap: 1.5vw;
  width: 50vw;
  min-width: 250px;
  font-size: 20px;
  font-family: "Petrona", serif;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: #000;
  border-bottom: none none none;
  border-radius: 3vw;
  padding: 0.7vw 1vw 0.7vw 1vw;
  transition: 1s;
}

a:hover {
  cursor: pointer;
  transition: 1s;
  color: #fff;
  background-color: #000;
  border: 1px solid #000;
  border-radius: 3vw;
  font-size: 23px;
}

header form {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px;
  border-radius: 3vw;
  padding: 0.5vw 1vw 0.5vw 1vw;
  width: 20vw;
  min-width: 200px;
}

header form img {
  height: 15px;
  padding-right: 10px;
}

header input {
  border: none;
  border-radius: 3vw;
  padding-left: 1vw;
  background-color: transparent;
  width: 100%;
}

.section_somos {
  grid-area: section_somos;
  height: 70vh;
}
.section_somos section {
  display: grid;
  grid-template-areas:
    "somos_texto logo"
    "bnt logo";
  justify-content: center;
  align-content: center;
  background-color: rgb(144, 196, 109, 0.95);
  height: 100%;
}

.somos_texto {
  margin-left: 2vw;
  grid-area: somos_texto;
  width: 45vw;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}
.somos_texto h3 {
  font-family: "Petrona", serif;
  font-weight: 600;
  font-size: 45px;
}

.somos_texto h4 {
  font-family: "Petrona", serif;
  font-weight: 400;
  font-size: 35px;
  margin-bottom: 15px;
}

.somos_texto p {
  font-weight: 400;
  font-size: 20px;
  text-align: justify;

  line-height: 1.2;
}

.bnt {
  grid-area: bnt;
  width: 45vw;
  height: 7vh;
}

.bnt ul {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: end;
}

.bnt ul li {
  box-shadow: none;
  padding: 7px 20px 7px 20px;
  border-radius: 15px;
  border: 1px solid #000;
  background-color: rgb(245, 245, 219);
  font-size: 18px;
  transition: 1s;
}

.bnt ul li:hover {
  cursor: pointer;
  transition: 1s;
  background-color: #000;
  color: rgb(245, 245, 219);
}

.logo {
  grid-area: logo;
  width: 45vw;
  display: flex;
  justify-content: center;
}
.logo img {
  width: 400px;
  min-width: 25vw;
}
.section_fazemos {
  grid-area: section_fazemos;
  background-color: rgb(135, 206, 250, 0.95);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  font-size: 18px;
  height: 100%;
  line-height: 1.2;
  padding-bottom: 15px;
}
.section_fazemos section {
  border: 2px solid #000;
  border-radius: 15px;
  padding: 15px;
  width: 20vw;
}

.section_fazemos h4 {
  font-family: "Petrona", serif;
  font-size: 30px;
  font-weight: 400;
  padding: 5px 0 5px;
}

.resgate,
.cuidados,
.reabilitacao,
.adocao {
  display: flex;
  flex-direction: column;
  text-align: justify;
}

.fazemo {
  font-family: "Petrona", serif;
  font-weight: 600;
  font-size: 45px;
  margin-bottom: 15px;
}

.section_fazemos div {
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
}

.section_fazemos section figure {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section_fazemos section figure img {
  height: 200px;
}

.section_adote {
  grid-area: section_adote;
  background-color: rgb(220, 220, 220, 0.95);
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  margin: 15px 0 15px 0;
  text-align: center;
  padding-bottom: 15px;
}

.section_adote header {
  margin: 15px 0 15px;
}

.section_adote header h3 {
  font-family: "Petrona", serif;
  font-weight: 600;
  font-size: 45px;
  padding-bottom: 10px;
}

.section_adote header p {
  font-size: 20px;
}

.section_adote div {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  gap: 15px;
}

.section_adote div section {
  border: 1px solid #000;
  padding: 15px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section_adote div figure img {
  height: 150px;
}

h5 {
  font-family: "Petrona", serif;
  font-size: 25px;
  font-weight: 400;
  padding: 5px 0 5px;
  padding-top: 15px;
}

.section_adote {
  margin-bottom: 0;
}

.section_form {
  grid-area: section_form;
  background-color: rgb(255, 182, 193, 0.95);
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
.section_form header {
  text-align: center;
  margin: 15px 0 15px 0;
  font-size: 20px;
}

.section_form header h3 {
  font-family: "Petrona", serif;
  font-size: 45px;
  font-weight: 600;
  margin-bottom: 10px;
}

.section_form form {
  display: grid;
  grid-template-areas:
    "nome email"
    "textarea textarea"
    "enviar enviar";
  width: 60vw;
  gap: 5px;
  margin-bottom: 15px;
}

.nome {
  grid-area: nome;
  width: 30vw;
}

.nome input {
  width: 28vw;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 5px;
  margin-top: 5px;
}

.email {
  grid-area: email;
  width: 30vw;
}

.email input {
  width: 28vw;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 5px;
  margin-top: 5px;
}

.textarea {
  grid-area: textarea;
  width: 60vw;
}

.textarea textarea {
  width: 60vw;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 5px;
  margin-top: 5px;
}

#enviar {
  grid-area: enviar;
  width: 60vw;

  padding: 5px;
  border-radius: 15px;
  border: 1px solid #000;
  background-color: rgb(245, 245, 219);
  font-size: 15px;
  transition: 1s;
}

#enviar:hover {
  cursor: pointer;
  transition: 1s;
  background-color: #000;
  color: rgb(245, 245, 219);
  font-size: 18px;
}

.footer {
  grid-area: footer;
  background-color: rgb(245, 245, 219, 0.95);
  height: 10vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
